body {
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

label {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffd166;
}

.logos {
    display: flex;
    flex-direction: column;
}

#heli {
    margin: auto;
    height: 10%;
    width: 10%;
}

#logo {
    margin: auto;
    height: 25%;
    width: 25%;
}

.submit-elements {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: auto;
    justify-content: center;
}

.submit-form {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: auto;
    margin-top: 2vh;
    left: 45px;
}

#search-input {
    margin: auto;
    width: 25vw;
    height: 3vh;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgb(69, 193, 205);
}


#x-button {
    position: relative;
    margin: auto;
    height: 20px;
    width: 20px;
    z-index: 1;
    left: 20px;
    top: 8px;

}

#search-icon {
    position: relative;
    margin: auto;
    height: 64px;
    width: 96px;
}

.movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.movie-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    max-width: 20vw;
}

.movie-poster {
    border: 2px solid lightseagreen;
    border-radius: 15px;
}

.movie-title {
    font-size: 15px;
}

.movie-votes {
    display: flex;
    margin: auto;
    font-size: medium;
}

.load-more-movies-btn {
    display: flex;
    position: relative;
    bottom: 15px;
    margin: auto;
    margin-bottom: 25px;
    padding: 10px;
    height: 35px;
    width: 8vw;
    justify-content: center;
}

.modal-backdrop {
    position: fixed;
    display: flex;
    background-color: black;
    opacity: .5;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
}

.modal {
    position: fixed;
    top: 25vh;
    left: 36vw;
    margin: auto;
}


/* Class Attributes */
.hidden {
    display: none;
}