/* Global Styles */
body {
    margin: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

label {
    display: none;
}

/*****************/


.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEF2F1;
}


/* Graphic CSS */
.logos {
    display: flex;
    flex-direction: column;
}

#heli {
    margin: auto;
    height: 10%;
    width: 10%;
}

#logo {
    margin: auto;
    height: 25%;
    width: 25%;
}

/*****************/


/* Search bar related CSS */
.submit-elements {
    display: flex;
    position: relative;
    flex-direction: row;
    flex: 1;
    margin: auto;
    right: 10px;
    justify-content: center;
}

.submit-form {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 2vh;
    left: 45px;
}

#search-input {
    margin: auto;
    width: 25vw;
    height: 3vh;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgb(69, 193, 205);
}

#close-search-btn {
    position: relative;
    margin: auto;
    height: 20px;
    width: 20px;
    left: 20px;
    top: 8px;

}

#search-icon {
    position: relative;
    margin: auto;
    height: 64px;
    width: 96px;
}

/*****************/


/* Movie Display CSS */
.movies-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.movie-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;
    text-align: center;
    max-width: 20vw;
}

.movie-poster {
    border: 2px solid lightseagreen;
    border-radius: 15px;
}

.movie-title {
    font-size: 15px;
}

.movie-votes {
    display: flex;
    margin: auto;
    font-size: medium;
}

.load-more-movies-btn {
    display: flex;
    margin: auto;
    margin-bottom: 45px;
    padding: 10px;
    height: 35px;
    width: 8vw;
    justify-content: center;
    align-items: center;
}

/*****************/


/* Modal CSS */
.modal-backdrop {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
}

.modal-content {
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #3AAFA9;
    padding: 40px;
    height: 50vh;
    width: 70vw;
    border-radius: 20px;
}

.modal-video {
    margin: auto;
}

.modal-title {
    margin: auto;
}

.modal-details {
    margin: auto;
}

/*****************/


/* Class Attributes */
.hidden {
    visibility: hidden;
}

/*****************/